.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  z-index: 9999; /* Para asegurarse de que el loader esté sobre todo el contenido */
}

.loader-svg {
  width: 100px; /* Ajusta el tamaño del loader */
  height: 100px;
}