<div *ngIf="countries.length == 0; else table" class="alert alert-warning text-center mt-2">
    No hay paises que mostrar
</div>

<ng-template #table>
    <table class="table table-hover animate__animated animate__fadeIn d-none d-md-table"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let country of countries; let i = index" class="animate__animated animate__fadeIn">
                <td> {{i + 1}}</td>
                <td>{{country.flag}}</td>
                <td>
                    <img [src]="country.flags.svg" [alt]="country.name.common">
                </td>
                <td>{{country.name.common}}</td>
                <td> {{country.capital}} </td>
                <td>{{country.population | number}}</td>
                <td>
                    <a [routerLink]="['/countries/by', country.cca3]">Ver mas</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-block d-md-none">
        <div *ngFor="let country of countries; let i = index" class="card mb-3 animate__animated animate__fadeIn">
          <div class="card-body">
            <h5 class="card-title">#{{i + 1}} - {{country.name.common}}</h5>
            <p class="card-text"><strong>Icon:</strong> {{country.flag}}</p>
            <p class="card-text">
              <strong>Bandera:</strong>
              <img [src]="country.flags.svg" [alt]="country.name.common" style="max-width: 100px;">
            </p>
            <p class="card-text"><strong>Capital:</strong> {{country.capital}}</p>
            <p class="card-text"><strong>Población:</strong> {{country.population | number}}</p>
            <a [routerLink]="['/countries/by', country.cca3]" class="btn btn-primary">Ver más</a>
          </div>
        </div>
      </div>
</ng-template>
