<div class="dashboard-container">
    <header class="dashboard-header">
      <h1>Dashboard</h1>
      <button (click)="onLogout()">Cerrar sesión</button>
    </header>
  
    <main class="dashboard-content">
      <div class="card">
        <div class="user-info">
            <p><strong>ID:</strong> {{ user()?._id }}</p>
            <p><strong>Email:</strong> {{ user()?.email }}</p>
            <p><strong>Name:</strong> {{ user()?.name }}</p>
            <p><strong>Active:</strong> {{ user()?.isActive ? 'Yes' : 'No' }}</p>
            <p><strong>Roles:</strong> {{ user()?.roles?.join(', ') }}</p>
        </div>
      </div>
    </main>
  </div>
  

